/* Footer */
.footer img {
	margin: 0px 5px 15px 5px;
}
.footer {
	background-color: rgb(50, 50, 50);
	color: white;
	font-size: 14px;
	text-align: center;
	padding: 60px 0px 70px 0px;
}
/* Footer */
