* {	margin: 0px;
	padding: 0px;
}
body {
	background: url(../../public/images/logos/GameDev-Small.png);
	overflow-x: hidden;
}

/* Slider */
.content01 h1 {
	text-align: center;
	font-size: 75px;
}
.content01 p {
	text-align: justify;
	font-family: sans-serif;
}

/* SlideShow01 */
.slideShow01 {
	padding: 10px 0px;
	display: grid;
	grid-template-areas:
		"title01 title01"
		"image01 description01";
	grid-gap: 10px;
	background-color: #414141;
	width: 1076px;
	margin: 72px auto auto auto;
	font-size: 2px;
}
.title01 {
	display: grid;
	grid-area: title01;
	background-color: rgb(240, 133, 133);
	margin: 0px 10px;
}
.description01 {
	display: grid;
	grid-area: description01;
	background-color: rgb(240, 232, 158);
	margin-right: 10px;
	padding: 50px;
	font-size: 23px;
	/* font-size: 16px; */
}
.slider01 {
	display: grid;
	grid-area: image01;
	width: 700px;
	height: 560px;
	background: url(../../public/images/bananaCube/bananaCube/BananaCube01-Medium.png);
	animation: slide01 12.5s infinite;
	background-color: lightslategray;
	margin-left: 10px;
}
@keyframes slide01 {
	20% {
		background: url(../../public/images/bananaCube/bananaCube/BananaCube02-Medium.png);
	}
	40% {
		background: url(../../public/images/bananaCube/bananaCube/BananaCube03-Medium.png);
	}
	60% {
		background: url(../../public/images/bananaCube/bananaCube/BananaCube04-Medium.png);
	}
	80% {
		background: url(../../public/images/bananaCube/bananaCube/BananaCube05-Medium.png);
	}
	100% {
		background: url(../../public/images/bananaCube/bananaCube/BananaCube01-Medium.png);
	}
}
/* SlideShow01 */

/* SlideShow02 */
.slideShow02 {
	padding: 10px 0px;
	display: grid;
	grid-template-areas:
		"title02 title02"
		"image02 description02";
	grid-gap: 10px;
	background-color: #414141;
	width: 1076px;
	margin: 100px auto auto auto;
}
.title02 {
	display: grid;
	grid-area: title02;
	background-color: rgb(240, 133, 133);
	margin: 0px 10px;
}
.description02 {
	display: grid;
	grid-area: description02;
	background-color: rgb(240, 232, 158);
	margin-right: 10px;
	padding: 50px;
	font-size: 28px;
	/* font-size: 16px; */
}

.slider02 {
	display: grid;
	grid-area: image02;
	width: 700px;
	height: 560px;
	background: url(../../public/images/bananaCube/bananaHunt/BananaHunt01-Medium.png);
	animation: slide02 25s infinite;
	background-color: #414141;
	margin-left: 10px;
}
@keyframes slide02 {
	10% {
		background: url(../../public/images/bananaCube/bananaHunt/BananaHunt02-Medium.png);
	}
	20% {
		background: url(../../public/images/bananaCube/bananaHunt/BananaHunt03-Medium.png);
	}
	30% {
		background: url(../../public/images/bananaCube/bananaHunt/BananaHunt04-Medium.png);
	}
	40% {
		background: url(../../public/images/bananaCube/bananaHunt/BananaHunt05-Medium.png);
	}
	50% {
		background: url(../../public/images/bananaCube/bananaHunt/BananaHunt06-Medium.png);
	}
	60% {
		background: url(../../public/images/bananaCube/bananaHunt/BananaHunt07-Medium.png);
	}
	70% {
		background: url(../../public/images/bananaCube/bananaHunt/BananaHunt08-Medium.png);
	}
	80% {
		background: url(../../public/images/bananaCube/bananaHunt/BananaHunt09-Medium.png);
	}
	90% {
		background: url(../../public/images/bananaCube/bananaHunt/BananaHunt10-Medium.png);
	}
	100% {
		background: url(../../public/images/bananaCube/bananaHunt/BananaHunt01-Medium.png);
	}
}
/* SlideShow02 */

/* SlideShow03 */
.slideShow03 {
	padding: 10px 0px;
	display: grid;
	grid-template-areas:
		"title03 title03"
		"image03 description03";
	grid-gap: 10px;
	background-color: #414141;
	width: 1076px;
	margin: 100px auto auto auto;
}
.title03 {
	display: grid;
	grid-area: title03;
	background-color: rgb(240, 133, 133);
	margin: 0px 10px;
}
.description03 {
	display: grid;
	grid-area: description03;
	background-color: rgb(240, 232, 158);
	margin-right: 10px;
	padding: 50px;
	font-size: 30px;
	/* font-size: 16px; */
}
.slider03 {
	display: grid;
	grid-area: image03;
	width: 700px;
	height: 560px;
	background: url(../../public/images/bananaCube/bananaHuntPro/BananaHuntPro01-Medium.png);
	animation: slide03 12.5s infinite;
	background-color: lightslategray;
	margin-left: 10px;
}
@keyframes slide03 {
	20% {
		background: url(../../public/images/bananaCube/bananaHuntPro/BananaHuntPro02-Medium.png);
	}
	40% {
		background: url(../../public/images/bananaCube/bananaHuntPro/BananaHuntPro03-Medium.png);
	}
	60% {
		background: url(../../public/images/bananaCube/bananaHuntPro/BananaHuntPro04-Medium.png);
	}
	80% {
		background: url(../../public/images/bananaCube/bananaHuntPro/BananaHuntPro05-Medium.png);
	}
	100% {
		background: url(../../public/images/bananaCube/bananaHuntPro/BananaHuntPro01-Medium.png);
	}
}
/* SlideShow03 */

/* SlideShow04 */
.slideShow04 {
	padding: 10px 0px;
	display: grid;
	grid-template-areas:
		"title04 title04"
		"image04 description04";
	grid-gap: 10px;
	background-color: #414141;
	width: 1076px;
	margin: 100px auto;
}
.title04 {
	display: grid;
	grid-area: title04;
	background-color: rgb(240, 133, 133);
	margin: 0px 10px;
}
.description04 {
	display: grid;
	grid-area: description04;
	background-color: rgb(240, 232, 158);
	margin-right: 10px;
	padding: 50px;
	font-size: 24px;
	/* font-size: 16px; */
}

.slider04 {
	display: grid;
	grid-area: image04;
	width: 700px;
	height: 560px;
	background: url(../../public/images/bananaCube/bananaRun/BananaRun01-Medium.png);
	animation: slide04 12.5s infinite;
	background-color: lightslategray;
	margin-left: 10px;
}
@keyframes slide04 {
	20% {
		background: url(../../public/images/bananaCube/bananaRun/BananaRun02-Medium.png);
	}
	40% {
		background: url(../../public/images/bananaCube/bananaRun/BananaRun03-Medium.png);
	}
	60% {
		background: url(../../public/images/bananaCube/bananaRun/BananaRun04-Medium.png);
	}
	80% {
		background: url(../../public/images/bananaCube/bananaRun/BananaRun05-Medium.png);
	}
	100% {
		background: url(../../public/images/bananaCube/bananaRun/BananaRun01-Medium.png);
	}
}
/* SlideShow04 */
/* Slider */
