* {	margin: 0px;
	padding: 0px;
}
body {
	background: url(../../public/images/logos/Logo-Small.png);
	overflow-x: hidden;
}

/* PL Section */
.pl-section {
	text-align: center;
	padding-top: 50px;
	margin-bottom: -75px;
}

.pl-section img {
	margin: 10px 25px;
}
/* PL Section */

/* WD-section */
.WD-section {
	margin: 150px;
	padding: 10px;
	background-color: black;
}
.WD-title {
	text-align: center;
	background-color: rgba(0, 128, 128);
	color: whitesmoke;
	margin-bottom: 10px;
	padding-bottom: 15px;
	padding-top: 15px;
}

.WD-body {
	text-align: center;
	background-color: rgba(0, 128, 128, 0.5);
	padding: 50px 0px;
}

.WD-body img {
	/* margin: 10px 25px; */
	margin: 10px 10px;
}
/* WD-section */
